@model Service.DTO.ProductDTO

<!-- HEADER -->
<div class="product-header">
	<label>@Model.Name</label>
</div>
<!-- IMAGE -->
<div class="product-image">
	<img src="" />
</div>
<!-- DESCRIPTION -->
<div class="product-description">
	<label>@Model.Description</label>
</div>

<div class="product-footer">
	<!-- PRICE -->
	<div class="product-price">
		<label>@Model.ToString()</label>
	</div>

	<!-- CONTROLS -->
	<input id="prod_@Model.ProductID" type="button" value="Køb" class="atc product-buy-button" />
</div>