@model Service.DTO.ProductDTO

<div class="border border-dark" style="border-width: 3px !important;">
	<div class="row">
		<!-- HEADER -->
		<div class="col-sm-12 d-sm-block">
			<label>@Model.Name</label>
		</div>
		<!-- IMAGE -->
		<div class="col-sm-12 d-sm-block">
			<img src="" />
		</div>
		<!-- DESCRIPTION -->
		<div class="col-sm-12 d-sm-block">
			<label>@Model.Description</label>
		</div>
		<!-- PRICE -->
		<div class="col-sm-12 d-sm-block">
			<label>@Model.Price</label>
		</div>
		<!-- CONTROLS -->
		<div class="col-sm-12 d-sm-block">
			<input type="button" value="Køb" />
		</div>
	</div>
</div>