@model Service.DTO.ProductDTO

<div class="">
	<!-- HEADER -->
	<div class="" style="display: block; width: 100%; background-color: silver; text-align: center; border-radius: 8px 8px 0 0;">
		<label>@Model.Name</label>
	</div>
	<!-- IMAGE -->
	<div class="" style="display: block;">
		<img src="" />
	</div>
	<!-- DESCRIPTION -->
	<div class="" style="display: block; width: 90%; padding: 5%; text-align: center;">
		<label>@Model.Description</label>
	</div>
	<!-- PRICE -->
	<div class="" style="display: block; width: 100%; padding: 5% 0; text-align: center;">
		<label>@Model.Price</label>
	</div>
	<!-- CONTROLS -->
	<div class="" style="display: block; width: 100%;">
		<input type="button" value="LÆG I KURV" style="width: 100%; background-color: limegreen; color: white; border: 1px solid darkgreen; border-radius: 0 0 8px 8px;" />
	</div>
</div>