@page
@model zShopWeb.Pages.Products.IndexModel
@{
	ViewData["Title"] = "Showing Products";
}

<form method="get" class="product-searchbar">
	<div class="search-icon"></div>
	<div class="search-input">
		<input class="search-box" type="search" asp-for="@Model.SearchString" placeholder="search product..." />
		<input class="search-button" type="submit" value="Search" />
	</div>
</form>

@{
	foreach (Service.DTO.ProductDTO product in Model.Products)
	{
		<div class="product-container">
			<partial name="_Product" model="@product" />
		</div>
	}
}
