@page
@model zShopWeb.Areas.UserModel
@{
	Layout = null;
}

<form id="formCreateOwner" asp-page-handler="LoginUser" method="post">
	<input id="oName" name="username" type="text" class="input-40 inline" placeholder="Indtast navn.." asp-for="User" />
	<label class="label-40 formBoxLabels inline"></label>
	<input id="oPass" name="userpass" type="password" class="input-40 inline" placeholder="password.." asp-for="Password" />
	<br />
	<br />
	<div class="block">
		<label class="label-40 formBoxLabels inline"></label>
		<input id="btnContinue" name="btnContinue" type="submit" value="Fortsæt" class="input-40 inline button-submit inputGreen" />
	</div>
	<br />
</form>